<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.PostgreSql (Npgsql)" connectionString="Database=postgres;Server=aws-1-ap-southeast-1.pooler.supabase.com;Port=5432;User Id=giang9168.iwgmvxnbuovmumjulgws;Password="/>
	</connectionStrings>
</configuration> 